
<%- include("header"); -%>
  <div class="box" id="heading">
    <h1 ><%= TitleList%></h1>
  </div>


  <div class="box">
    <%  for(var i=0;i<newItem.length;i++){ %>
      <div class="item">
        <input type="checkbox" >
        <p><%=newItem[i] %></p>
      </div>

  <%  }%>


  <form  action="/" method="post">
  <input type="text" name="item_add" placeholder="New Item" autocomplete="off">
   <button type="submit" name="list" value="<%= TitleList%>">+</button>
</form>

  </div>

<%- include("footer"); -%>
